<%- include('../partials/header') %>

<table id="list">
  <tbody>
    <% photos.forEach(function(p) { %>
        <td><img src="<%= p.photoLink %>"></td>
      <div class="photo-details">
        <td> <%= p.title %></td>
        <td>Year Taken: <%= p.yearTaken %></td>
        <td>Photographer: <%= p.photographer %></td>
        <td>Location: <%= p.location %></td>
        <td><a href="/photos/<%= p._id %>">Details</a></td>
      </div>  
      </tr>
      <% }); %>
    </tbody>
  </table>
<%- include('../partials/footer') %>
