<%- include('../partials/header') %>

<section id="show-page">
  <div>Title: </div>
  <div><%= photo.title %></div>
  <div>Photo:</div>
  <img src="<%= photo.photoLink %>">
  <div>Year Taken: </div>
  <div><%= photo.yearTaken %></div>
  <div>Photographer:</div>
  <div><%= photo.photographer %></div>
  <div>Location:</div>
  <div><%= photo.location %></div><div><%= console.log(photo); %></div>
</section>
<br><br>
<h2>Reviews</h2>
<% if (user) { %>
  <form id="add-review-form" method="POST" action="/photos/<%= photo._id %>/reviews">
    <label>Review:</label>
    <textarea name="content"></textarea>
    <label>Rating:</label>
    <select name="rating">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
    <input type="submit" value="Add Review">
  </form>
<% } %>

<% if (photo.reviews.length) { %>
  <table>
    <thead>
      <tr>
        <th>User</th>
        <th>Date</th>
        <th>Review</th>
        <th>Rating</th>
        <!-- Add this placeholder heading -->
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% let total = 0 %>
      <% photo.reviews.forEach(function(r) { %>
        <% total += r.rating %>
        <tr>
          <td class="review-user"><img src="<%= r.userAvatar %>"><%= r.userName %></td>
          <td><%= r.createdAt.toLocaleDateString() %></td>
          <td><%= r.content %></td>
          <td><%= r.rating %></td>
          <!-- Add this td -->
          <td>
            <% if (user && user._id.equals(r.user)) { %>
              <form action="/reviews/<%= r._id %>?_method=DELETE" method="POST">
                <button type="submit">X</button>
              </form>
            <% } %>
          </td>
        </tr>
      <% }); %>
      <tr>
        <td colspan="3"></td>
        <td><strong><%= (total / photo.reviews.length).toFixed(1) %></strong></td>
      </tr>
    </tbody>
  </table>
<% } else { %>
  <h5>No Reviews Yet</h5>
<% } %>


<%- include('../partials/footer') %>