<%- include('../partials/header') %>

<section id="show-page">
  <div><%= photo.title %></div><br>
  <img src="<%= photo.photoLink %>"><br>
  <div>Year Taken: <%= photo.yearTaken %></div><br>
  <div>Photographer: <%= photo.photographer %></div><br>
  <div>Location: <%= photo.location %></div><br>
  <form id="delete-photo-form" action="/photos/<%= photo._id %>?_method=DELETE" method="POST">
  <button type="submit">Delete Photo</button>
  </form>
</section>
<h3>Reviews</h3>
<% if (user) { %>
  <form id="add-review-form" method="POST" action="/photos/<%= photo._id %>/reviews">
    <label>Review:</label>
    <textarea name="content"></textarea>
    <label>Rating:</label>
    <select name="rating">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
    <input type="submit" value="Add Review">
  </form>

<% } %>

<% if (photo.reviews.length) { %>
  <table>
    <thead>
      <tr>
        <th>Comments</th>
      </tr>
    </thead>
    <tbody>
      <% let total = 0 %>
      <% photo.reviews.forEach(function(r) { %>
        <% total += r.rating %>
        <tr>
          <td class="review-user"><img src="<%= r.userAvatar %>"><%= r.userName %></td>
          <td><%= r.createdAt.toLocaleDateString() %></td>
          <td>"<%= r.content %>"</td>
          <td>Rating <%= r.rating %></td>
          <!-- Add this td -->
          <td>
            <% if (user && user._id.equals(r.user)) { %>
              <form action="/reviews/<%= r.id %>?_method=DELETE" method="POST">
                <button type="submit">X</button>
              </form>
            <% } %>
          </td>
        </tr>
      <% }); %>
      <tr>
        <td colspan="3"></td>
        <td><strong>Avg. Review: <%= (total / photo.reviews.length).toFixed(1) %></strong></td>
      </tr>
    </tbody>
  </table>
<% } else { %>
  <h3>No Reviews Yet</h3>
<% } %>

<%- include('../partials/footer') %>