<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" type="image/x-icon" href="../../public/images/landscape.svg" >
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>PichChat - Landscape Edition</title>
</head>
<body>
  <nav>
    <logo><a href="/photos"><img src="images/landscape.svg" alt="Photos Home" align="left" style="height: 50px"></a></logo>
    <a href="/photos" <%- title === 'All Photos' ? 'class="active"' : '' %>>All Photos</a>
    <% if (user) { %>
      <!-- <a href="/myphotos"	<%- title === 'My Photo Collection' ? 'class="active"' : '' %>>
		My Photo Collection</a> -->
      <a href="/photos/new" <%- title === 'Add Photo' ? 'class="active"' : '' %>>Add Photo</a>
      <a href="/logout">LOG OUT</a>
    <% } else { %>
      <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
    <% } %>
  </nav>
  <main>
    <h1>PicChat - Landscape Edition</h1>
<section id="show-page">
  <div>Title: </div>
  <div><%= photo.title %></div>
  <div>Photo:</div>
  <img src="<%= photo.photoLink %>">
  <div>Year Taken: </div>
  <div><%= photo.yearTaken %></div>
  <div>Photographer:</div>
  <div><%= photo.photographer %></div>
  <div>Location:</div>
  <div><%= photo.location %></div>
</section>
<br><br>
<h2>Reviews</h2>
<% if (user) { %>
  <form id="add-review-form" method="POST" action="/photos/<%= photo._id %>/reviews">
    <label>Review:</label>
    <textarea name="content"></textarea>
    <label>Rating:</label>
    <select name="rating">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
    <input type="submit" value="Add Review">
  </form>
  <form id="delete-photo-form" action="/photos/<%= photo._id %>?_method=DELETE" method="POST">
    <button type="submit">Delete Photo</button>
  </form>
<% } %>

<% if (photo.reviews.length) { %>
  <table>
    <thead>
      <tr>
        <th>User</th>
        <th>Date</th>
        <th>Review</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody>
      <% let total = 0 %>
      <% photo.reviews.forEach(function(r) { %>
        <% total += r.rating %>
        <tr>
          <td class="review-user"><img src="<%= r.userAvatar %>"><%= r.userName %></td>
          <td><%= r.createdAt.toLocaleDateString() %></td>
          <td><%= r.content %></td>
          <td><%= r.rating %></td>
          <!-- Add this td -->
          <td>
            <% if (user && user._id.equals(r.user)) { %>
              <form action="/reviews/<%= r.id %>?_method=DELETE" method="POST">
                <button type="submit">X</button>
              </form>
            <% } %>
          </td>
        </tr>
      <% }); %>
      <tr>
        <td colspan="3"></td>
        <td><strong><%= (total / photo.reviews.length).toFixed(1) %></strong></td>
      </tr>
    </tbody>
  </table>
<% } else { %>
  <h3>No Reviews Yet</h3>
<% } %>

<%- include('../partials/footer') %>